*.cuthd
*.meta
*.py[co]
*.pyc
composer.lock
.composer.lock
*DS_Store
*~*
.build/
.bzr/
.cllct/
.conf/
.coverage/
.git/
.jira
.meta/
.package*.json
.package*.main
.package*.sh
.redo/
.svn/
.vagrant/
/.coverage
/htmlcov
bower_components/
coverage_html_report/
node_modules/
node_modules*/
public/components/
tools.json
vendor/
# Jekyll dir:
_site
Gemfile.lock
.features.tab
.htd
Makefile
*.class
schema/*.json
schema/*.n3
.cdn.sh
doc/figures/*.svg
doc/figures/*.ps
doc/figures/*.pdf
doc/figures/*.png
/build
test/redo.txt
doc/src/sh/*.gv
doc/src/sh/*.png
doc/src/sh/*.rst
_tmp
*.tmp
test/var/nix_comments.txt.header
tags
*.shc
