*.cuthd
*.meta
*.py[co]
*.pyc
composer.lock
.composer.lock
bin
*DS_Store
*~*
.build/
.bzr/
.cllct/
.conf/
.coverage/
.git/
.jira
.meta/
.package*.json
.package*.main
.package*.sh
.redo/
.svn/
.vagrant/
/.coverage
/htmlcov
bower_components/
coverage_html_report/
node_modules/
public/components/
tools.json
vendor/
# Jekyll dir:
_site
Gemfile.lock
.features.tab
.htd
Makefile
*.class
