#objectpath
#py-mhash@1.2 malloc problems
BeautifulSoup
bencode
cherrypy
couchdb
docopt-mpe
docutils
fusepy
git+https://github.com/hackerhelmut/ObjectPath.git
hashids
icalendar
json-spec
mysql-connector==2.1.6
#mysqlclient
nltk
pbPlist
pydelicious
pydot
pytz
redis
ruamel.yaml<=0.15
sadisplay
setuptools 
shaarli-client
shortuuid
six
sqlalchemy
sqlalchemy-migrate
twisted
uriref
wheezy.template
xattr
zope.component
zope.interface 
