BeautifulSoup
bencode
cherrypy
couchdb
docopt-mpe
docutils
fusepy
git+https://github.com/hackerhelmut/ObjectPath.git
#gtasks
hashids
icalendar
json-spec
keyring
#mysqlclient
mysql-connector==2.1.6
nltk
#objectpath
pbPlist
pydelicious
pydot
#py-mhash@1.2 malloc problems
pytz
redis
ruamel.yaml<=0.15
requests-oauthlib
sadisplay
setuptools 
shaarli-client
shortuuid
six
sqlalchemy
sqlalchemy-migrate
twisted
uriref
wheezy.template
xattr
zope.component
zope.interface 
gspread
oauth2client
