docutils
setuptools 
pytz
ruamel.yaml
hashids
#objectpath
git+https://github.com/hackerhelmut/ObjectPath.git
zope.component
zope.interface 
pbPlist
redis
six
sqlalchemy
twisted
uriref
shortuuid
xattr
